input[type="button"],[type="submit"]{
           
            font-size: 20px;
            color: white;
            background: #585858;
            }
            input[type="text"]{
                
                font-size: 20px;
                border-radius: 8px;
                border-style: hidden;
            }
            table,form{
                width: 500px;
                height: 600px;
                text-align: center;
                padding-top: 5px;
                padding-right:5px;
                padding-bottom: 5px;
                border-radius: 12px;
                margin: 0 auto;
		        background: #071914;
                border: 4px solid #ffffff;
		
            }
            div{
                padding: 10px;    
                font-size: 20px;
            }
            h1{
               	
		color: white;   
        text-shadow: 3px 3px 4px #FE642E;           
            }
            label,legend{
                color: white;
            }
            fieldset{
                 border-color: white;
                 border-style: double;
                 border-radius: 12px;
            } 
            #tableFinal{
                width:220px;
                height:200px;
                border: black 5px solid;
                border-spacing: 0px;
                border-radius: 8px;
                padding: 0px;
            }
	    input 
		{
			border-radius: 8px;
            
		}

#del{
    background: #FE9A2E;
} 
#borrar{
    background: #FE9A2E;

}     
span{
 font-weight: bold;

}
